// サイズの大小を表す場合、postfixを以下のように設定する。
// ..._3xs, _2xs, _xs, _sm,（なしまたは_md）, _lg, _xl, _2xl, _3xl...

// ==========================================================================
// breakpoints
// ==========================================================================
// BootstrapのBreakpointsを参照
// https://getbootstrap.jp/docs/5.0/layout/breakpoints/
// 値を設定。
$bp: "576px";
$bp_lg: "768px";
$bp_xl: "992px";
$bp_2xl: "1200px";
$bp_3xl: "1400px";

// ==========================================================================
// media queries
// ==========================================================================
//メディアクエリ設定。
// スマートフォン基準のためsp設定はなし。
$tb: "screen and (min-width:#{$bp}) and (max-width:#{$bp_lg}), print";
$until_tb: "screen and (max-width:#{$bp_lg}), print";
$over_tb: "screen and (min-width:#{$bp_lg}), print";
$pc: "screen and (min-width:#{$bp_xl}), print";
$pc_lg: "screen and (min-width:#{$bp_2xl}), print";
$pc_xl: "screen and (min-width:#{$bp_3xl}), print";

// ==========================================================================
// body font-family
// ==========================================================================
$body_font_family: "Hiragino Sans", "Meiryo", "Hiragino Kaku Gothic ProN",
  sans-serif;
// $body_font_family:"Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;

// ==========================================================================
// body text color
// ==========================================================================
$body_text_color: #000;

// ==========================================================================
// text link color
// ==========================================================================
$text_link_color: #008ec1;

// ==========================================================================
// color
// ==========================================================================
// テーマカラーなど多用するカラーを設定。
$theme_50: #f4fcfe;
$theme_100: #edfbfd;
$theme_200: #e1f8fb;
$theme_300: #c8f0f8;
$theme_400: #aee7f4;
$theme_500: #7bd5ec;
$theme_600: #38c6ed;
$theme_700: #14b2dd;
$theme_800: #0197d0;
$theme_900: #008ec1;

$accent_50: #ffeae7;
$accent_100: #ffd4ce;
$accent_500: #f58271;
$accent_900: #e6533e;

$gray_50: #f9fafa;
$gray_100: #f5f6f6;
$gray_200: #eceded;
$gray_300: #e0e2e3;
$gray_400: #ced1d2;
$gray_500: #9ea3a5;
$gray_600: #82888b;
$gray_700: #636b6f;
$gray_800: #3e484d;
$gray_900: #303538;

$theme_grad_700: linear-gradient(90deg, #4ccaec 0%, #0197d0 100%);
$theme_grad_800: linear-gradient(90deg, #38c6ed 0%, #14b2dd 100%);
$theme_grad_900: linear-gradient(90deg, #14b2dd 0%, #008ec1 100%);

$accent_grad_800: linear-gradient(90deg, #f7a59b 0%, #ef705e 100%);
$accent_grad_900: linear-gradient(90deg, #f48171 0%, #e54b3e 100%);

// ==========================================================================
// shadow color
// ==========================================================================
$shadow_color: rgba(0, 0, 0, 0.2);

$shadow_xs: 0 0 2rem $shadow_color;
$shadow_sm: 0 0 4rem $shadow_color;
$shadow: 0 0 6rem $shadow_color;

// ==========================================================================
// animation
// ==========================================================================
//hover
$ani_all: all 0.2s ease-out;
// hover opacity only
$ani_opacity: opacity 0.2s ease-out;

// ==========================================================================
// space
// ==========================================================================
// margin/paddingのスペースを定義。
// .8rem〜10.4remまで設定。
$space_std: 0.8rem;

$space_xs: $space_std;
$space_sm: $space_std * 2;
$space: $space_std * 3;
$space_lg: $space_std * 4;
$space_xl: $space_std * 5;
$space_2xl: $space_std * 6;
$space_3xl: $space_std * 7;
$space_4xl: $space_std * 8;
$space_5xl: $space_std * 9;
$space_6xl: $space_std * 10;
$space_7xl: $space_std * 11;
$space_8xl: $space_std * 12;
$space_9xl: $space_std * 13;

// ==========================================================================
// line-height
// ==========================================================================
// ボタン内テキストなど
$lh_2xs: 1.2;
// 見出しなど
$lh_xs: 1.4;
// 注意書きなど
$lh_sm: 1.6;
// standard
$lh: 1.8;

// ==========================================================================
// font-size
// ==========================================================================
$fs_3xs: 1rem;
$fs_2xs: 1.2rem;
$fs_xs: 1.4rem;
$fs_sm: 1.6rem;
$fs: 1.8rem;
$fs_lg: 2rem;
$fs_xl: 2.4rem;
$fs_2xl: 2.8rem;
$fs_3xl: 3rem;
$fs_4xl: 3.2rem;
