// サイズの大小を表す場合、postfixを以下のように設定する。
// ..._3xs, _2xs, _xs, _sm,（なしまたは_md）, _lg, _xl, _2xl, _3xl...

// ==========================================================================
// breakpoints
// ==========================================================================
// BootstrapのBreakpointsを参照
// https://getbootstrap.jp/docs/5.0/layout/breakpoints/
// 値を設定。
$bp: "576px";
$bp_lg: "768px";
$bp_xl: "992px";
$bp_2xl: "1200px";
$bp_3xl: "1400px";

// ==========================================================================
// media queries
// ==========================================================================
//メディアクエリ設定。
// スマートフォン基準のためsp設定はなし。
$tb: "only screen and (min-width:#{$bp}) and (max-width:#{$bp_lg})";
$until_tb: "only screen and (max-width:#{$bp_lg})";
$over_tb: "only screen and (min-width:#{$bp_lg})";
$pc: "only screen and (min-width:#{$bp_xl})";
$pc_lg: "only screen and (min-width:#{$bp_2xl})";
$pc_xl: "only screen and (min-width:#{$bp_3xl})";

// ==========================================================================
// body font-family
// ==========================================================================
$body_font_family: 'Hiragino Sans', 'Meiryo', 'Hiragino Kaku Gothic ProN', sans-serif;
// $body_font_family:"Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;

// ==========================================================================
// body text color
// ==========================================================================
$body_text_color: #000;

// ==========================================================================
// text link color
// ==========================================================================
$text_link_color: #008EC1;

// ==========================================================================
// color
// ==========================================================================
// テーマカラーなど多用するカラーを設定。
$theme_50: #F4FCFE;
$theme_100: #EDFBFD;
$theme_200: #E1F8FB;
$theme_300: #C8F0F8;
$theme_400: #AEE7F4;
$theme_500: #7BD5EC;
$theme_600: #38C6ED;
$theme_700: #14B2DD;
$theme_800: #0197D0;
$theme_900: #008EC1;

$accent_50: #FFEAE7;
$accent_100: #FFD4CE;
$accent_500: #F58271;
$accent_900: #E6533E;

$gray_50: #F9FAFA;
$gray_100: #F5F6F6;
$gray_200: #ECEDED;
$gray_300: #E0E2E3;
$gray_400: #CED1D2;
$gray_500: #9EA3A5;
$gray_600: #82888B;
$gray_700: #636B6F;
$gray_800: #3E484D;
$gray_900: #303538;

$theme_grad_700: linear-gradient(90deg, #4CCAEC 0%, #0197D0 100%);
$theme_grad_800: linear-gradient(90deg, #38C6ED 0%, #14B2DD 100%);
$theme_grad_900: linear-gradient(90deg, #14B2DD 0%, #008EC1 100%);

$accent_grad_800: linear-gradient(90deg, #F7A59B 0%, #EF705E 100%);
$accent_grad_900: linear-gradient(90deg, #F48171 0%, #E54B3E 100%);

// ==========================================================================
// shadow color
// ==========================================================================
$shadow_color: rgba(0, 0, 0, .2);

$shadow_xs: 0 0 2rem $shadow_color;
$shadow_sm: 0 0 4rem $shadow_color;
$shadow: 0 0 6rem $shadow_color;

// ==========================================================================
// animation
// ==========================================================================
//hover
$ani_all: all .2s ease-out;
// hover opacity only
$ani_opacity: opacity .2s ease-out;

// ==========================================================================
// space
// ==========================================================================
// margin/paddingのスペースを定義。
// .8rem〜10.4remまで設定。
$space_std: .8rem;

$space_xs: $space_std;
$space_sm: $space_std * 2;
$space: $space_std * 3;
$space_lg: $space_std * 4;
$space_xl: $space_std * 5;
$space_2xl: $space_std * 6;
$space_3xl: $space_std * 7;
$space_4xl: $space_std * 8;
$space_5xl: $space_std * 9;
$space_6xl: $space_std * 10;
$space_7xl: $space_std * 11;
$space_8xl: $space_std * 12;
$space_9xl: $space_std * 13;

// ==========================================================================
// line-height
// ==========================================================================
// ボタン内テキストなど
$lh_2xs: 1.2;
// 見出しなど
$lh_xs: 1.4;
// 注意書きなど
$lh_sm: 1.6;
// standard
$lh: 1.8;

// ==========================================================================
// font-size
// ==========================================================================
$fs_3xs: 1rem;
$fs_2xs: 1.2rem;
$fs_xs: 1.4rem;
$fs_sm: 1.6rem;
$fs: 1.8rem;
$fs_lg: 2rem;
$fs_xl: 2.4rem;
$fs_2xl: 2.8rem;
$fs_3xl: 3rem;
$fs_4xl: 3.2rem;