@use "../global" as *;
.l-page_footer {
  background: $theme_300;

  &__contents {
    padding: $space_lg 0;
    @media #{$pc} {
      padding: $space_xl 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__btn_to_top {
    position: fixed;
    right: 1rem;
    bottom: -8rem;
    transition: bottom 0.4s;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
    border: 1px solid $theme_100;

    img {
      transform: rotate(-90deg);
    }

    &.is-show {
      bottom: 4rem;
    }

    @media #{$pc} {
      right: 3rem;
      width: 6rem;
      height: 6rem;
      transition: $ani_opacity;

      &:hover {
        opacity: 0.6;
      }

      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  &__logo {
    display: block;
    margin: 0 auto $space;

    @media #{$pc} {
      margin: 0;
      width: 24rem;
      height: 3rem;
    }
  }

  &__copyright {
    display: block;
    text-align: center;
    color: $gray_800;
    font-size: $fs_xs;
  }
}
