@use "../global" as *;
.u-accordion_btn {
  // アコーディオンコンポーネントのtoggleアニメーションのみをここで設定。デザインは各componentで設定すること。
  cursor: pointer;
  + * {
    height: 0;
    overflow: hidden;
    transition: height 0.2s linear;
  }
}
